.contents {
    width: 75%;
}
.drop-down-icon {
    height: 20px;
}
.td_row {
    width: 100%;
    padding: 5px;
}
.td_head {
    width: 100%;
    background-color: darkgray;
    float: left;
    font-weight: bold;
    padding: 5px;
}
table {
    background-color: lightgray;
    border: 3px solid black;
    font-size: 100%;
}
td {
    border: 2px solid black;
}
.button {
    width: 25%;
}
.button-icon {
    height: 30px;
}