{% extends "nwm_data_explorer/base.html" %}
{% load staticfiles %}

{% block app_content %}
    <h1>Developers API</h1>
    <p>
        A Developers API is provided for those who wish to incorporate the National Water Model data into their own
        separate application or script.
    </p>
    <p>The API endpoint is the current URL, <b>https://appsdev.hydroshare.org/apps/nwm-data-explorer/api</b></p>
    <br>
    <h2>API Methods</h2>
    <p>All API methods must be called using the following pattern:</p>
    <p><b>endpoint/method/?param1=value1&#38;param2=value2&#38;...paramN=valueN</b></p>
    <p>Note: The presence of parameter key/value pairs depends on the method. See specific examples for each method below.</p>
    <br>
    <h3>GetFileList</h3>
    <table>
        <tr>
            <td><b>Supported Methods</b></td>
            <td colspan="5">GET</td>
        </tr>
        <tr>
            <td><b>Returns</b></td>
            <td colspan="5">A list of all available files in the NWM subset defined by the specified parameters.</td>
        </tr>
        <tr>
            <td rowspan="7"><b>Params</b></td>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
            <td><b>Valid Values</b></td>
            <td><b>Required</b></td>
            <td><b>Default if omitted</b></td>
        </tr>
        <tr>
            <td>config</td>
            <td>The configuration of the files.</td>
            <td>One and only one of the following strings: "short_range", "long_range", "medium_range", or "analysis_assim".</td>
            <td>Yes</td>
            <td>Cannot be ommitted.</td>
        </tr>
        <tr>
            <td>startDate</td>
            <td>Represents the date on which forecasts were initialized.</td>
            <td>A string of the form "YYYY-MM-DD".</td>
            <td>No, if config is analysis_assim. Yes if otherwise.</td>
            <td>Every available date will be included.</td>
        </tr>
        <tr>
            <td>endDate</td>
            <td><i>Only applicable/valid if config=analysis_assim.</i><br>Represents the date on which forecasts were initialized and is used as the end bound on a range of forecast initializations to be returned.</td>
            <td>A string of the form "YYYY-MM-DD".</td>
            <td>No</td>
            <td>The endDate is the same as the startDate.</td>
        </tr>
        <tr>
            <td>time</td>
            <td>The time of day at which the forecast is initialized, represented by an hour from 0 to 23. Time 0 corresponds to 12:00AM, and so forth up to time 23 for 11:00PM.</td>
            <td>Comma-separated integers from 0 to 23, or two dash-separated values from 0 to 23 representing a desired range of values.</td>
            <td>No</td>
            <td>All available initialization times.</td>
        </tr>
        <tr>
            <td>type</td>
            <td>The type of data the file corresponds to.</td>
            <td>One or more of the following strings, separated by commas: "land", "terrain", "channel", or "reservoir".</td>
            <td>No</td>
            <td>All types.</td>
        </tr>
        <tr>
            <td>member</td>
            <td><i>Only applicable/valid if config=long_range.</i><br>Represents the desired time-lagged ensemble members of the long_range configuration.</td>
            <td>Comma-separated integers from 1 to 4.</td>
            <td>No</td>
            <td>All members.</td>
        </tr>
    </table>
    <br>
    <h5>Example:</h5>
    <a href="https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFileList/?config=short_range&startDate=2016-06-01&time=2,3&type=terrain,channel" target="_blank">
        <code>https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFileList/?config=short_range&startDate=2016-06-01&time=2,3&type=terrain,channel</code>
    </a>
    <br><br>

    <h3>GetFileMetadata</h3>
    <table>
        <tr>
            <th>Supported Methods</th>
            <td colspan="5">GET</td>
        </tr>
        <tr>
            <th>Returns</th>
            <td colspan="5">Key/value pairs representing all of the available metadata for the specified file.</td>
        </tr>
        <tr>
            <td rowspan="5"><b>Params</b></td>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
            <td><b>Valid Values</b></td>
            <td><b>Required</b></td>
            <td><b>Default if omitted</b></td>
        </tr>
        <tr>
            <td>file</td>
            <td>A string representing the desired file, exactly as it appears in the GetFileList return list.</td>
            <td>Any string that appears in the GetFileList return list.</td>
            <td>Yes</td>
            <td>Cannot be ommitted.</td>
        </tr>
    </table>
    <br>
    <h5>Example:</h5>
    <a href="https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFileMetadata?file=short_range-20160601-nwm.t02z.short_range.terrain_rt.f001.conus.nc_georeferenced.nc" target="_blank">
        <code>https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFileMetadata?file=short_range-20160601-nwm.t02z.short_range.terrain_rt.f001.conus.nc_georeferenced.nc</code>
    </a>
    <br><br>

    <h3>GetFile</h3>
    <table>
        <tr>
            <th>Supported Methods</th>
            <td colspan="5">GET</td>
        </tr>
        <tr>
            <th>Returns</th>
            <td colspan="5">A streaming download of the specified file.</td>
        </tr>
        <tr>
            <td rowspan="5"><b>Params</b></td>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
            <td><b>Valid Values</b></td>
            <td><b>Required</b></td>
            <td><b>Default if omitted</b></td>
        </tr>
        <tr>
            <td>file</td>
            <td>A string representing the desired file, exactly as it appears in the GetFileList return list.</td>
            <td>Any string that appears in the GetFileList return list.</td>
            <td>Yes</td>
            <td>Cannot be ommitted.</td>
        </tr>
    </table>
    <br>
    <h5>Example:</h5>
    <a href="https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFile?file=short_range-20160601-nwm.t02z.short_range.terrain_rt.f001.conus.nc_georeferenced.nc" target="_blank">
        <code>https://appsdev.hydroshare.org/apps/nwm-data-explorer/api/GetFile?file=short_range-20160601-nwm.t02z.short_range.terrain_rt.f001.conus.nc_georeferenced.nc</code>
    </a>
{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link href="{% static 'nwm_data_explorer/css/api.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'nwm_data_explorer/js/api.js' %}" type="text/javascript"></script>
{% endblock %}