{% extends "nwm_data_explorer/base.html" %}
{% load staticfiles %}

{% block app_content %}
    <h1 id="title"></h1>
    <h4 id="subtitle"></h4>
    <span id="btn-filter-options" class="contracted">Filter Options:</span>
    <div id="filter-options" hidden>
        <label for="slct-types">Show forecast file types:</label>
        <select multiple id="slct-types" class="slct-filter">
            <option value="all" selected>All</option>
            <option value="channel_rt">channel_rt</option>
            <option value="land">land</option>
            <option value="reservoir">reservoir</option>
            <option value="terrain_rt">terrain_rt</option>
        </select>
        <br><br>
        <label for="slct-hours-init">Show hours of forecast initialization:</label>
        <select multiple id="slct-hours-init" class="slct-filter">
            <option value="all" selected>All</option>
            {% for key, value in hours_init.items %}
                <option value="{{ value }}">{{ key }}</option>
            {% endfor %}
        </select>
        <br><br>
        <label for="slct-longrange-member">Show long range members:</label>
        <select multiple id="slct-longrange-member" class="slct-filter">
            <option value="all" selected>All</option>
            <option value="_1.f">1</option>
            <option value="_2.f">2</option>
            <option value="_3.f">3</option>
            <option value="_4.f">4</option>
        </select>
        <br><br>
        <label>Show analysis/assimilation initialization dates:</label>
        <br>
        <input type="checkbox" id="inpt-date-all" checked>
        <label for="inpt-date-all">All available</label>
        <span>&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;</span>
        <label for="inpt-date-start">Start date:</label>
        <input type="date" class="inpt-date" id="inpt-date-start" disabled>
        <label for="inpt-date-end">End date:</label>
        <input type="date" class="inpt-date" id="inpt-date-end" disabled>
        <br><br>
        <button type="button" class="btn btn-med btn-primary" id="btn-apply-filters">Apply Filters</button>
    </div>
    <br><br>
    <div id="drop-down"></div>
    <br><br>
    <span id="download-all" class="hidden">
        <a class="btn btn-success btn-lg" id="btn-download-all">
            <span class="glyphicon download" aria-hidden="true"></span>
            <img src="/static/nwm_data_explorer/images/download_icon.svg" class="button-icon"/> Download All
        </a>
        <br>
        <b>Note: You may need to allow popups on this page to enable all files to download. If not all files were downloaded, change browser settings to allow popups on this page.</b>
    </span>
    <div id="dynamic-content">
    <span id="download-content">
        <a type="button" class="btn btn-success btn-lg hidden" id="btn-download-one">
            <span class="glyphicon download" aria-hidden="true"></span>
            <img src="/static/nwm_data_explorer/images/download_icon.svg" class="button-icon"/> Download
        </a>
    </span>
        <br><br>
        <div id="file-info">
        </div>
    </div>
{% endblock %}

{% block content_dependent_styles %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <link href="{% static 'nwm_data_explorer/css/data_explorer.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <script src="{% static 'nwm_data_explorer/js/data_explorer.js' %}" type="text/javascript"></script>
{% endblock %}
